*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #120022;
  color: white;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
  max-width: 1600px;
  margin: 0 auto;
  padding: 16px 200px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #1A0B2E;
  border-radius: 14px;
}


.logo{
  width: 219px;
  height: 32px;
  align-items: center;
  margin-bottom: 16px;
}


.link{
  list-style: none;
  display: flex;
  gap: 32px;
}

.link a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

.link a:hover{
  color: red;
}


.btn{
  padding: 12px 16px;
  gap: 4px;
  font-size: 1rem bold;
  border-radius: 20px;
  background: linear-gradient( #ff9a00, #ff2db2);
}
.btn a{
  text-decoration: none;
  color: white;
}


.hero {
  /* min-height: 100vh; */
  background-color: #1A0B2E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  /* position: relative; */
  overflow: hidden;
}


.image {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mic img {
  width: 200px;
  height: 200px;
}


.badge {
  position: absolute;
  top: 20px;
  right:40px;
  background: #00FF88;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 20px;
  z-index: 5;
}


h1 {
  font-size: 4rem;
  margin-bottom: 8px;
}

p {
  max-width: 550px;
  font-size: 1rem;
  opacity: 0.8;
  margin-bottom: 24px;
}


.button {
  display: flex;
  gap: 8px;
}

.btns {
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}


.spotify {
  background: linear-gradient(135deg, #ffcc00, #ff3cac);
  color: white;
}


.subcribe {
  border: 1px solid #00FF88;
  color: #00FF88;
}




.about{
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px 200px 120PX 200px;
  /* gap: 80px; */
  text-align: center;
  background-color: #1A0B2E;
  color: white;
}

.about h2{
  font-size: 3rem;
  margin-bottom: 20px;
}

.text{
  max-width:1200px;
  margin: 0 auto ;
  margin-bottom: 40px;
  font-size:1rem;
  line-height: 1.6;
  color: #ffffff;
  opacity: 80%;
}

.about hr{
  width:100%;
  
  margin: 0px auto ;
  border: none;
  height: 1px;
  background: white;
  opacity: 10%;
}

.stats{
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 40px;
}

.stat h3{
  font-size: 3rem;
  color: #00FF88;
  margin-bottom: 8px;
}

.stat p{
  width: 240px;
   margin: 40px auto 0;
  font-size: 1rem;
  color: #FFFFFF;
  opacity: 80%;
  /* letter-spacing:0%; */
  line-height: 16px;

}





.why-choose{
  margin: 0 auto;
padding: 120px 200px 120px 200px;
width:1200px;
background-color: #230E3D;
}
.why-choose h2{
  text-align: center;
  font-size:3rem;
  margin-bottom:40px;
}

.techwave-grid{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "audio mobile mobile"
  "audio global global"
  "interview interview resources";
  gap: 30px;
  margin: 0;
  width: 1200px;
}
.card{
  background-color:#351165;
  border-radius:40px;
  padding:40px;
}
.card img{
  margin-bottom: 16px;
}
.card h3{
  font-size:1.25rem;
  margin-bottom: 16px;
}

.card p{
  line-height:24px;
  font-size: 1rem;
}
.audio{grid-area:audio;}
.mobile{grid-area:mobile;}
.global{grid-area:global;}
.interview{grid-area:interview;}
.resources{grid-area:resources;}


.feature{
  padding:120px 200px 120px 200px;
  margin: 0 auto;
  background: #12002b;
  color: white;
}

.feature h2 {
  text-align: center;
  font-size:3rem;
  margin-bottom: 40px;
}

.feature-cards {
  max-width: 1200px;
  margin: 0 auto;
 display: flex;
 justify-content: center;
 gap: 30px;
}

.feature-card {
  flex: 1;
  max-width: 380px;
  height: 440px;
  background: #250D44;
  border-radius:12px;
  /* margin: 0 auto; */
  padding:24px;
}
.video {
  width:100%;
  height:214px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 24px;
}

.feature-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.feature-text{
  padding: 0;
}
.feature-text h3{
  font-size: 18px;
  margin-bottom: 10px;
  padding:12px;
}
.feature-text p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 15px;
}

.feature-icon {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #4cff9a;
  font-size: 14px;
}



.host {
  background: linear-gradient(180deg, #140021, #0b0014);
  padding:120px 200px;
  color: #fff;

}


.host h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}


.host-card {
  max-width: 1200px;
  margin: 0 auto;
  background: #2a0f45;
  border-radius: 40px;
  padding:40px 40px;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 24px;
}


.host-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #ff2f92;
}

.host-info{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.host-info h3 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.host-info p {
  font-size: 1rem;
  line-height: 24px;
  opacity:60%;
  max-width: 896px;
}


.Social {
  /* align-items: left; */
  margin-top: 16px;
  /* margin: 0 ; */
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.Social a {
  width: 40px;
  height: 40px;
  background: #250D44;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

/* .Social a img {
  width: 16px;
  height: 16px;
} */


.Social a:hover {
  background: #ff2f92;
  transform: translateY(-4px);
}


  .host-info p {
    max-width: 100%;
  }

  .Social {
    justify-content: center;
  }




.footer{
  max-width:100%;
  background-color: #120022;
  background-image: url(/assets/footer-bg.png);
  background-size: contain;
  background-position: center;
  color: white;
  padding: 60px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:32px;
}

.logo img{
  /* width: 410px; */
  align-items: center;
  height: 80px;
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  flex-wrap: wrap;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
gap: 8px;
}
.icon img{
  width: 24px;
  height: 24px;
}
.icon p{
  align-items: center;
  font-size: 1rem;
  color: white;
  margin: 0 auto;
}

.copyright {
    font-size: 0.8rem;
    color: white;
    opacity: 50%;
    margin-top: 10px;
}